body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  font-family: 'helvetica';
}

img {
  width: 20rem;
  height: auto;
}
